.o_sign_request_signers_sequence {
        > .o_arrow_button {
            min-height: @odoo-statusbar-height;
            font-size: 11px;
            font-weight: bold;
            position: relative;
            padding-left: @odoo-statusbar-arrow-width*2;
            color: @odoo-main-color-muted;
            .o-transition(all, 0.2s);

            &:first-child {
                padding-right: @odoo-horizontal-padding; // Compensate container padding
            }
            &:last-child {
                padding-left: @odoo-horizontal-padding - 1;
                border-left: 1px solid @odoo-brand-lightsecondary;
            }
            &:active {
                box-shadow: none;
            }
            &.disabled {
                opacity: 1.0;
                cursor: auto;
                pointer-events: auto;
                color: @odoo-main-text-color;
                border-left: 0px solid @odoo-brand-lightsecondary;
            }

            &:before, &:after {
                content: " ";
                display: block;
                .o-position-absolute(0, -@odoo-statusbar-arrow-width + 1);

                border-top: @odoo-statusbar-height/2 solid transparent;
                border-bottom: @odoo-statusbar-height/2 solid transparent;
                border-right: none;
                width: 19px;
                border-left: @odoo-statusbar-arrow-width solid @odoo-view-background-color;
                .o-transition(border, 0.2s);
                -moz-transform: scale(0.9999); // Smooth the triangle on firefox
            }

            &:not(.disabled) {
                &:hover, &:active, &:focus {
                    color: white;
                    background-color: @odoo-brand-optional;
                    &:after {
                        border-left-color: @odoo-brand-optional;
                    }
                }
            }

            &:before {
                right: -@odoo-statusbar-arrow-width;
                border-left-color: @odoo-brand-lightsecondary;
            }

            &.btn-primary.disabled {
                color: @text-color;
                background-color: @odoo-statusbar-disabled-bg;

                &:before {
                    border-left-color: @odoo-brand-lightsecondary;
                }
                &:after {
                    border-left-color: @odoo-statusbar-disabled-bg;
                }
            }
        }
	}
	/**/.o_sign_request_signers_sequence {
    display: flex; display: -webkit-flex; display: -ms-flexbox;
}	.o_sign_request_signers_sequence .btn {
	    height: 100px;
	    width: 100%;
	    background-color: #807e80 !important;
	    margin-left: -4px;
	    position: relative;
	    opacity: 1 !important;
	    flex: 0 0 29%; -webkit-flex: 0 0 29%;
	    max-width: 29%;
	    border: none !important;
	}
	.o_sign_request_signers_sequence > .btn:before {
	    position: absolute;
	    content: "";
	    right: -86px;
	    top: 0;
	    bottom: 0;
	    border-width: 50px 45px;
	    border-style: solid;
	    border-color: transparent transparent transparent #807e80;
	    width: 60px;
	    display: inline-block;
	    z-index: 9;
	}
	.o_sign_request_signers_sequence .btn:nth-child(2n+1){
		background-color:#807e80 !important;
	}
	.o_sign_request_signers_sequence > .btn:nth-child(2n+1):before{
		border-color: transparent transparent transparent #807e80;
	}
	.o_sign_request_signers_sequence .btn:nth-child(2n+2){
		background-color:#aba9ab !important;
	}
	.o_sign_request_signers_sequence > .btn:nth-child(2n+2):before{
		border-color: transparent transparent transparent #aba9ab;
	}
	.o_sign_request_signers_sequence .btn:nth-child(2n+3){
		background-color:#d5d3d5 !important;
	}
	.o_sign_request_signers_sequence > .btn:nth-child(2n+3):before{
		border-color: transparent transparent transparent #d5d3d5;
	} 
	
	.o_sign_request_signers_sequence .btn span {
	    padding: 0 20px 0 40px;
	    word-break: break-all;
	    display: block;
	    width: 100%;
	    
	}
	.o_sign_request_signers_sequence .btn:last-child:before {
	    right: -90px;
	}
	
	
	
	
	